<div class="container-fluid" id="hero">
  <div class="row hero1-row">
    <div class="col-lg-11 title-col">
      <h5>Sterling Heritage Corporation:</h5>
      <h5>A GDC Advantage, Service Disabled, Veteran Owned Small Business. Specializing in Logistics and Acquisition.</h5>
    </div>
  </div>
  <div class="row hero2-row">
    <div class="col-lg-11 hero-col">
      <div class="row carousel-row">
        <div class="col-lg-9 ">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag "car3.jpg", class: "d-block w-100", alt: "" %>
              </div>
              <div class="carousel-item">
                <%= image_tag "car2.jpg", class: "d-block w-100", alt: "" %>

              </div>
              <div class="carousel-item">
                <%= image_tag "car6.jpg", class: "d-block w-100", alt: "" %>

              </div>
              <div class="carousel-item">
                <%= image_tag "car4.jpg", class: "d-block w-100", alt: "" %>

              </div>
              <div class="carousel-item">
                <%= image_tag "car5.jpg", class: "d-block w-100", alt: "" %>

              </div>
              <div class="carousel-item">
                <%= image_tag "back6.jpg", class: "d-block w-100", alt: "" %>

              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="about-info">
            <h3>Sterling Heritage Corp.</h3>
            <i class="fas fa-spider"></i>

          </div>
          <h4>About:</h4>
            <p>Sterling Heritage provides independent professional services focused exclusively on the business of Government and implementing solutions that improve the management of Government.</p>
            <p>We are a certified, service-disabled, veteran owned small business that was incorporated in 2000 for the purposes of providing our public sector clients with tools and techniques to develop business strategies,
            improve business processes, implement laws and regulations, optimize resources, and develop innovative and effective human resource strategies.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row hero3-row">
    <div class="col-lg-11">
      <div class="row hero-footer-row">
        <div class="col-lg-3">
          <ul class="nav justify-content-start">
            <li class="nav-item">
              <a class="nav-link active" href="#">LinkedIn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Facebook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Twitter</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="#">Our People</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Our Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Our Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Company News</a>
            </li>
          </ul>

        </div>
        <div class="col-lg-3">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="#">Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Apply</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-divider"></div>

<div class="container-fluid" id="our-people">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="header-title">
        <h4>Our People</h4>
      </div>
      <div class="header-image">
        <h5>Sterling Heritage makes a detailed commitment to its employees and its clients. </h5>
      </div>
    </div>
  </div>
  <div class="row people-content-row">
    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg-8">
          <p>Sterling Heritage strives to provide our clients with the best talent available. We recruit accomplished, highly qualified individuals, and compensate them well for their hard work. Our commitment to our employees is to be a great employer. The combination of project management experience, professional and creative employees, lessons learned, and an energized environment all contribute to our success.</p>
        </div>
        <div class="col-lg-4">
          <%= image_tag "back2.jpg", class: "people-img", alt: "" %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag "back3.jpg", class: "people-img", alt: "" %>
        </div>
        <div class="col-lg-8">
          <p>Our goal is to be a great employer.
          We offer a stimulating environment, challenging work, and a collegial atmosphere.
          We are committed to the principles of equal employment opportunity, affirmative action and diversity.
          Our commitment to applicants and employees is to recruit, hire, train, and promote without regard to age, race, color, sex, sexual preference, national origin, religion, marital status, or physical or mental impairment.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <p>As a Service-Disabled Veteran Owned Business, Sterling Heritage recognizes the invaluable service our veterans have given to our nation. We actively recruit U.S. military veterans and wounded or injured veterans for all open positions.</p>
        </div>
        <div class="col-lg-4">
          <%= image_tag "back1.jpg", class: "people-img", alt: "" %>
        </div>
      </div>

    </div>
  </div>
  <div class="row page-footer-row">
    <div class="col-lg-10 offset-lg-1">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="#">Our People</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Our Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Our Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Company News</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-divider"></div>

<div class="container-fluid" id="client">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="header-title">Our Clients</div>
      <div class="header-image">Our Clients entrust us with mission critical work. Our Open Ratings customer satisfaction rating is 97%</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <p>Our clients entrust us with mission-critical work because we understand their missions and the challenges facing Government organizations.
        This understanding enables us to apply the appropriate processes and technologies to effectively and efficiently improve their organization’s performance levels.
        As a complete solution provider, Sterling Heritage continually provides our clients with high-quality, cost effective, and reliable solutions delivered on-time.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-2">
          <%= link_to image_tag("client1.png"), "https://sterlingheritage.com", class: "client-img", alt: "", target: "_blank"  %>

        </div>
        <div class="col-lg-2">
          <%= link_to image_tag("client2.png"), "https://sterlingheritage.com", class: "client-img", alt: "", target: "_blank"  %>

        </div>
        <div class="col-lg-2">
          <%= link_to image_tag("client3.jpg"), "https://sterlingheritage.com", class: "client-img", alt: "", target: "_blank"  %>

        </div>
        <div class="col-lg-2">
          <%= link_to image_tag("client4.png"), "https://sterlingheritage.com", class: "client-img", alt: "", target: "_blank"  %>

        </div>
        <div class="col-lg-2">

        </div>
      </div>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
      </div>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
      </div>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
      </div>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1"></div>
  </div>
</div>
