<div class="container-fluid" id="hero">
  <div class="row hero1-row">
    <div class="col-lg-11 title-col">
      <div class="row">
        <div class="col-lg-12">
          <h4>Sterling Heritage Corporation</h4>
          <h5>A GDC Advantage, Service Disabled, Veteran Owned Small Business</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row hero2-row">
    <div class="col-lg-11 hero-col">
      <div class="row carousel-row">
        <div class="col-lg-9 ">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag "back1.jpg", class: "d-block w-100", alt: "" %>
              </div>
              <div class="carousel-item">
                <%= image_tag "back2.jpg", class: "d-block w-100", alt: "" %>

              </div>
              <div class="carousel-item">
                <%= image_tag "back3.jpg", class: "d-block w-100", alt: "" %>

              </div>
              <div class="carousel-item">
                <%= image_tag "back4.jpg", class: "d-block w-100", alt: "" %>

              </div>
              <div class="carousel-item">
                <%= image_tag "back5.jpg", class: "d-block w-100", alt: "" %>

              </div>
              <div class="carousel-item">
                <%= image_tag "back6.jpg", class: "d-block w-100", alt: "" %>

              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <%= image_tag "shc.png", class: "logo-img" %>
          <h4>About:</h4>
            <p>Sterling Heritage provides independent professional services focused exclusively on the business of Government and implementing solutions that improve the management of Government.</p>
            <p>We are a certified, service-disabled, veteran owned small business that was incorporated in 2000 for the purposes of providing our public sector clients with tools and techniques to develop business strategies,
            improve business processes, implement laws and regulations, optimize resources, and develop innovative and effective human resource strategies.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row hero3-row">
    <div class="col-lg-11">
      <div class="row hero-footer-row">
        <div class="col-lg-3">
          <ul class="nav justify-content-start">
            <li class="nav-item">
              <a class="nav-link active" href="#">LinkedIn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Facebook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Twitter</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="#">Our People</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Our Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Our Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Company News</a>
            </li>
          </ul>

        </div>
        <div class="col-lg-3">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="our-people">

</div>
